name: Build App/Deploy OTA for Android

on:
    push:
        branches:
            - main
    workflow_dispatch:
        inputs:
            channel:
                type: choice
                description: Build Profile to use
                options:
                    - staging
                    - production
                required: true
            runtimeVersion:
                type: string
                description: Runtime Version in (x.x.x) format of the build you are targeting
                required: true

jobs:
    deployOTA:
        if: github.repository == 'CareSanctum/QuickCheck'
        name: Bundle and Deploy OTA for Android
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - name: Check for EXPO token
              env: 
                EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
              run: bash scripts/check-expo-token.sh
            
            - name: Validate Runtime Version
              if: ${{ inputs.runtimeVersion }}
              env: 
                RUNTIME_VERSION: ${{ inputs.runtimeVersion }}
              run: bash scripts/validate-runtime-version.sh

            - name: Setup Node
              uses: actions/setup-node@v4
              with: 
                node-version-file: .nvmrc
                cache: 'npm'

            - name: Check Fingerprint and install dependencies
              id: fingerprint
              uses: CareSanctum/github-actions/expo-fingerprint@main
              with: 
                profile: ${{ inputs.channel || 'staging'}}
                previous-commit-tag: ${{ inputs.runtimeVersion }}
            
            - name: Setup EAS
              uses: expo/expo-github-action@main
              if: ${{ steps.fingerprint.outputs.fingerprint-diff == '[]' }}
              with: 
                eas-version: latest
                token: ${{ secrets.EXPO_TOKEN }}
                packager: 'npm'
            
            - name: Deploy OTA
              if: ${{ steps.fingerprint.outputs.fingerprint-diff == '[]' }}
              run:  echo "Deploying OTA for Android"
              # run: eas update --channel ${{ inputs.channel || 'staging'}} --platform android

    BuildAndroid:
      runs-on: ubuntu-latest
      name: Build Android App
      needs: [deployOTA]
      if: ${{ inputs.channel != 'production' && needs.deployOTA.outputs.fingerprint-diff != '[]' && github.repository == 'CareSanctum/QuickCheck'}}
      steps:
        - name: Checkout 
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Setup Node
          uses: actions/setup-node@v4
          with: 
            node-version-file: .nvmrc
            cache: 'npm'
          
        - name: Setup EAS
          uses: expo/expo-github-action@main
          with:
            eas-version: latest
            token: ${{ secrets.EXPO_TOKEN }}
            packager: 'npm'

        - name: Install Dependencies
          run: npm ci

        - name: Build Preview Apk
          #run: eas build --platform android --profile ${{ inputs.channel || 'staging'}}
          run: echo "Created Preview Apk"
          

