name: Staging Workflow

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: blacksmith-4vcpu-ubuntu-2404
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v4
              with:
                node-version: '20'
            - run: npm install -g bats
            - run: bats -v